
.reports--form
  = form_for report do |f|
    .actions
      = f.submit

    .field.flex-row
      %label Title
      = f.text_field :title, class: 'w-100'
    .field.flex-row
      %label Slug
      = f.text_field :slug, class: 'w-100'

    .field
      %label deleted_at
      = f.text_field :deleted_at

    .field
      %label Body
      = f.text_area :body, class: 'p-2'

    .field
      %label Tags (#{report.tags.length}):
      -# = render '/wco/tags/index', tags: report.tags
      = f.select :tag_ids, options_for_select(@tags_list, selected: report.tag_ids), {}, { multiple: true, class: 'select2' }

    .actions
      = f.submit
