
- config ||= {}

.reports--list
  %ul
    - reports.each do |ttt|
      %li.Card
        .flex-row
          = button_to '[x]', report_path(ttt), method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '[~]', edit_report_path(ttt)
          .a
            = link_to ttt.title, report_path(ttt)
            %br
            `#{ttt.slug}`
            .gray.mini= ttt.id
        - if !config[:skip_tags]
          .flex-row
            = render '/wco/tags/index_inline', tags: ttt.tags

