
.reports-index.maxwidth
  %h5
    Reports
    = link_to '[+]', new_report_path

  %table.bordered
    %tr
      %th &nbsp;
      %th slug
      %th kind
      %th origin
      %th post_path
    - @reports.each do |s|
      %tr
        %td
          .flex-row
            = button_to '[x]', report_path(s), method: :delete, data: { confirm: 'Are you sure?' }
            = link_to '[~]', edit_report_path(s)
        %td= s.slug
        %td= s.kind
        %td= s.origin
        %td= s.post_path
