
.application--main-header.main-header{ class: "#{ENV['RAILS_ENV']} #{ENV['RAILS_ENV'][0...3]=="dev" ? "development" : ''}" }

  -# %i.fa.fa-compress.collapse-expand#collapseHeaderMain
  -#   Wco Suite
  .maxwidth

    %i.fa.fa-compress.collapse-expand#collapseHeaderModels
      Wco Suite
    .flex-row
      %ul
        %li= link_to 'ROOT', '/'
        - if defined? wco_email
          %li= link_to '/email',   '/email'
        - if defined? wco_hosting
          %li= link_to '/hosting', '/hosting'
        - if defined? iro
          %li= link_to '/trading', '/trading'

      %ul
        %li= render '/wco/invoices/header'
        %li= render '/wco/products/header'
        %li= render '/wco/tags/header'
        %li= render '/wco/logs/header'

      %ul
        %li= render '/wco/leadsets/header'
        %li= render '/wco/leads/header'
        %li= render '/wco/office_action_templates/header'
        %li= render '/wco/office_actions/header'

      %ul
        %li= render '/wco/sites/header'
        %li= render '/wco/headlines/header'
        %li= render '/wco/publishers/header'
        %li= render '/wco/galleries/header'
        %li= render '/wco/reports/header'
        %li= render '/wco/videos/header'


    .c
