
= link_to "Office Actions (#{Wco::OfficeAction.all.length})", wco.office_actions_path
.inline-search
  = form_tag wco.office_actions_path, method: :get do
    = text_field_tag :q
= link_to '[+]', wco.new_office_action_path
