
.sites--form
  = form_for site do |f|
    .field
      = f.label :kind
      = f.select :kind, options_for_select( Wco::Site.kinds_list, selected: site.kind )
    .field
      = f.label :origin
      = f.text_field :origin
      = f.label :post_path
      = f.text_field :post_path
    .field
      = f.label :username
      = f.text_field :username
      = f.label :password
      = f.text_field :password
    .actions
      = f.submit
