
- videos ||= @videos
- this_videos_path ||= videos_path

.videos--index.container-fluid
  .videos--menu
    = link_to "Videos (#{videos.count})", this_videos_path

    -# = render 'search', path: this_videos_path
    .inline-search
      = form_tag this_videos_path, method: :get do
        = text_field_tag :q

    = link_to '[+]', new_video_path
    %hr

  = paginate videos, param_name: :videos_page, views_prefix: 'wco'

  .row
    - videos.each do |video|
      .col-md-4
        .d-flex
          .thumb= image_tag video.thumb.url(:thumb), class: 'thumb'
          .a
            .title
              = link_to video.name, video_path( video )
            .d-flex
              = link_to '[~]', edit_video_path( video )
              = button_to '[x]', video_path( video ), :method => :delete, :data => { :confirm => 'Are you sure?' }
            = render 'meta', item: video

  = paginate videos, param_name: :videos_page, views_prefix: 'wco'


