
.products--index-table
  %table.bordered.data-table
    %thead
      %tr
        %th.name Name
        %th.prices Prices

    - products.each do |product|
      %tr
        %td.p-2
          = link_to '[~]', edit_product_path( product )
          = product.name
          .gray= product.product_id
        %td.p-2
          %ul
            - product.prices.each do |price|
              %li
                $#{ price.amount_cents.to_f/100 } / #{price.interval}
                .gray= price.price_id
