
.products-index.maxwidth

  .a
    %h5 New Product:
    = render 'wco/products/form', product: Wco::Product.new
  %hr

  .row
    .col-md-6
      %h5.collapse-expand#stripeProducts
        Stripe Products (#{@stripe_products.length}):
        -# = link_to '[+]', new_product_path
      %ol
        - @stripe_products.each do |product_id, product|
          %li
            = link_to '[~]', edit_product_path( product.id )
            .inline-block= button_to '[x]', product_path( product.id ), :method => :delete, :data => { :confirm => 'Are you sure?' }
            %span.gray= product.id
            - if product[:wco_product]
              = link_to product.name, product_path( product )
            - else
              = product.name
            %ul
              %li
                New price:
                = render 'wco/prices/form', price: Wco::Price.new({ product: product[:wco_product] })
              - product[:prices].each do |price_id, price|
                %li
                  %span.gray= price.id
                  - price_str = "$#{ price[:unit_amount].to_f/100 }/#{ (price[:recurring]||{})[:interval]||'onetime' }"
                  - if @wco_prices_hash[price.id]
                    = link_to price_str, price_path( @wco_prices_hash[price.id] )
                  - else
                    = price_str
      %hr

    .col-md-6
      %h5.collapse-expand#wcoProducts
        Wco::Product`s (#{@wco_products.length}):
      = render 'index_table', products: @wco_products
      -# = render 'index_list', products: @wco_products

