
.tags-show.maxwidth

  %h5 Tag `#{@tag.slug}`

  %ul
    %li.d-flex
      <b>Conversations (#{@tag.conversations.length}):&nbsp;</b>
      - if @tag.conversations.present?
        .Conversations
          = render '/wco_email/conversations/table', convs: @tag.conversations
    %li.d-flex
      <b>Headlines (#{@tag.headlines.length}):&nbsp;</b>
      = render '/wco/headlines/index', headlines: @tag.headlines
    %li.d-flex
      <b>Galleries (#{@galleries.length}):&nbsp;</b>
      = render 'wco/galleries/index', galleries: @galleries, config: { skip_tags: true }
    %li.d-flex
      <b>Reports (#{@reports.length}):&nbsp;</b>
      = render 'wco/reports/list', reports: @reports, config: { skip_tags: true }
    %li.d-flex
      <b>Message Stubs (#{@tag.message_stubs.length}):&nbsp;</b>
      = render '/wco_email/message_stubs/index', stubs: @tag.message_stubs

