
= form_for lead, html: { multipart: true } do |f|

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :phone
    = f.text_field :phone

  .field
    = f.label :address
    = f.text_field :address

  .field
    = f.label "Leadset (company)"
    = f.select :leadset, options_for_select(@leadsets_list, selected: lead.leadset_id), {}, { class: :select2 }

  -# .field
  -#   %label Rating
  -#   = f.number_field :rating

  -# .field
  -#   = f.label :comment
  -#   = f.text_area :comment, class: :tinymce

  .field
    = f.label "Tags"
    = f.select :tags, options_for_select(@tags_list, selected: lead.tag_ids ), {}, { class: :select2, multiple: true }

  .field
    = f.label :photo
    = f.file_field :photo

  .actions
    = f.submit

