
.leads-index.maxwidth
  = form_tag leads_path, method: :get do
    = select_tag :q_tag_ids, options_for_select(@tags_list, selected: params[:q_tag_ids]), { class: :select2, multiple: true }
    = submit_tag 'tag-search'
  %hr

  .header
    %h2.title
      Leads
      - if !defined?( skip_pagination ) || !skip_pagination
        (#{@leads.total_count})
      - else
        (#{@leads.length})
      = link_to raw("<i class='fa fa-plus-square'></i>"), new_lead_path

  = render 'index', leads: @leads, search_path: leads_path
