
.leads-show.padded

  .header
    %h2.title
      Lead ##{@lead.id}
      = link_to '[~]', edit_lead_path(@lead)

  .row
    .col-md-6
      %ul
        %li Name: #{@lead.name}
        %li Email: #{@lead.email}
        %li
          Leadset: #{ link_to @lead.leadset.company_url, leadset_path(@lead.leadset) }
        -# %li Rating: #{@lead.rating}
        - if @lead.phone
          %li Phone: #{@lead.phone}
        - if @lead.address
          %li Address: #{@lead.address}
        -# - if @lead.shoe_size
        -#   %li Shoe size: #{@lead.shoe_size}
        -# - if @lead.comment
        -#   %li Comment: #{raw @lead.comment}
        - if @lead.photo
          %li
            = image_tag Photo.find( @lead.photo_id ).photo.url(:small)

    .col-md-6
      %h5 Tags
      %ul
        - @lead.tags.each do |tag|
          %li
            = link_to tag.name, tag_path(tag)

  .row
    .col-md-6.ctxs
      %h5
        Email Contexts (#{@lead.ctxs.length})
        = link_to '[+]', '#'
      %ul
        - @lead.ctxs.each do |ctx|
          %li
            = pp_date( ctx.sent_at ) || 'not sent'
            = link_to ctx.subject.presence||"No Subj?!", context_path(ctx)

    .col-md-6.schs
      %h5
        Scheduled actions (#{@lead.schs.length})
        -# = link_to '[+]', '#'
        \[+]
      %ul
        - @lead.schs.each do |sch|
          %li
            = link_to sch.email_action.slug, edit_scheduled_email_action_path(sch)
            = sch.state
            (#{link_to 'proto-action', edit_email_action_path(sch.email_action)})
            = sch.perform_at

      %hr
      %h5
        Invoices (?)
        = link_to '[+stripe]', new_invoice_stripe_path({ leadset: @lead.leadset })
        = link_to '[+pdf]', new_invoice_pdf_path({ leadset: @lead.leadset })
      %ul
        %li None?



  .row
    .col-md-12.msgs
      %h5 Email Conversations (#{@lead.convs.length})
      %ul
        - @lead.convs.each do |conv|
          %li
            = link_to conv.subject, wco_email.conversation_path( conv )

