
- url ||= gallery.new_record? ? galleries_path : gallery_path( gallery )
= form_for gallery, :url => url do |f|
  .actions
    = f.submit 'Submit'
  .field
    = f.label :name
    = f.text_field :name
    = f.label :slug
    = f.text_field :slug
  -# .col-md-2
  -#   .field
  -#     = f.label :premium_tier
  -#     = f.number_field :premium_tier

  .row
    .col-md-4
      = f.label :subhead
      = f.text_area :subhead
    .col-md-4
      = f.label :descr
      = f.text_area :descr, class: :tinymce
  .actions
    = f.submit 'Submit'
