
.galleries--header
  %h2.title
    Gallery
    = link_to gallery.name, gallery_path(gallery)
    (#{gallery.photos.length})
    = link_to '[~]', edit_gallery_path( gallery )
    .d-inline-block= button_to 'x', gallery_path(gallery), method: :delete, data: { confirm: 'Are you sure?' }
    - if gallery.is_public
      %i.material-icons visibility
    - else
      %i.material-icons visibility_off
  = render 'meta', :item => gallery

  = render '/wco/tags/list_mini', tags: gallery.tags, resource: gallery

  %ul
    %li slug :: #{gallery.slug}
    %li subhead :: #{gallery.subhead}
    %li deleted_at ::#{gallery.deleted_at}


