-#
-# wco / galleries / _index.haml
-#
-# _vp_ 2022-09-25 :: Small styling revision
-#

- galleries ||= @galleries


.galleries--index.maxwidth
  = render '/wco/galleries/header_mini', galleries: galleries

  .padded
    - if galleries.length > 0
      = form_tag update_galleries_path do

        = render '/wco/tags/list_mini', tags: @tags

        = submit_tag 'Add Tags', data: { confirm: 'Are you sure?' }
        &nbsp;&nbsp;
        %label remove?
        = check_box_tag :remove
        = submit_tag 'Tags', data: { confirm: 'Are you sure?' }

        - if galleries.respond_to? :total_pages
          = paginate galleries, :param_name => :galleries_page, :views_prefix => 'wco'

        = render '/wco/select_all'

        .row
          - galleries.each do |g|
            .col-sm-12.col-md-6
              .Card
                %h5
                  = check_box_tag 'gallery_ids[]', g.id, nil, { class: 'i-sel' }
                  = link_to '[~]', edit_gallery_path( g )
                  = link_to g.name, gallery_path(g.slug)
                  (#{g.photos.length})
                = render 'meta', item: g
                - if g.photos.length == 0
                  No Photos
                - else
                  .d-flex.flex-wrap.photos-thumbs
                    - g.photos.limit( @current_profile.show_n_thumbs ).each do |photo|
                      = link_to image_tag(photo.photo.url(:thumb), :alt => ''), gallery_path(g.slug)

        - if galleries.respond_to? :total_pages
          = paginate galleries, :param_name => :galleries_page, :views_prefix => 'wco'

    - else
      .p No Galleries



