
.galleries--title
  %h2
    Gallery
    = link_to gallery.name, gallery_path(gallery)
    (#{gallery.photos.length})
    = link_to '[~]', edit_gallery_path( gallery )
    .d-inline-block= button_to 'x', gallery_path(gallery), method: :delete, data: { confirm: 'Are you sure?' }
    - if gallery.is_public
      %i.material-icons visibility
    - else
      %i.material-icons visibility_off

  = render '/wco/tags/list_mini', tags: gallery.tags

  %ul
    %li slug :: #{gallery.slug}
    %li subhead :: #{gallery.subhead}
    %li= render 'meta', :item => gallery
