
.oat--form
  = form_for oat, as: :oat do |f|
    .actions
      = f.submit

    .field.flex-row

      %label Slug
      = f.text_field :slug, class: 'w-100'

    .field
      %label action_exe
      = f.text_area :action_exe, class: :monospace

    -# .field.flex-row
    -#   %label From
    -#   = f.select :from_type, options_for_select( @from_types_list, selected: params[:from_type] || oat.from_type )
    -#   = f.select :from_id, options_for_select( @from_ids_list ), {}, class: 'select2'

    -# .field.flex-row
    -#   %label Publisher
    -#   = f.select :publisher, options_for_select( @publishers_list, selected: oat.publisher ), {}, class: 'select2'

    .row
      .col-md-4
        &nbsp;
      .col-md-8
        .field
          %label Next Office Action Templates
          .eg rand(1..5).business_days.from_now.to_date + rand(8..16).hours + rand(1..59).minutes
          .eg This is not an interval! But you can do Time.now + 30.seconds
          %br

          = f.fields_for :ties do |next_f|
            .flex-row.field
              %label next_at_exe
              = next_f.text_field :next_at_exe, class: 'flex-grow w-100'
            .flex-row.field
              %label to_delete
              = next_f.check_box :to_delete
              = next_f.select :next_office_action_template_id, options_for_select( @oats_list, selected: next_f.object.next_office_action_template_id ), { }, { class: 'select2' }
            %br

    .actions
      = f.submit
