
.oat-index.maxwidth
  .header
    %h5.title Office Action Templates

  %ul
    - @oats.each do |oat|
      %li
        = link_to '[~]', edit_office_action_template_path(oat)
        .d-inline-block= button_to 'x', office_action_template_path(oat), method: :delete, html: { confirm: 'Are you sure?' }
        = link_to oat.slug, office_action_template_path(oat)
        %br
        = render '/wco/office_action_templates/ties', ties: oat.ties, oat: oat
        -# = oat.inspect

  %hr
  = render 'form', oat: @new_oat
