
.oat-show.maxwidth

  %h5
    OAT `#{@oat.slug}`
    = link_to '[~]', edit_office_action_template_path(@oat)

  .a
    %label action_exe
    %pre.mono.descr= @oat.action_exe

  .a
    %label Ties (#{@oat.ties.length}):
    = render '/wco/office_action_templates/ties', ties: @oat.ties, oat: @oat


  .a
    %label actions (#{@oat.actions.length}):
    = render '/wco/office_actions/index', oas: @oat.actions


  = @oat.inspect