!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Models
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag "wco/application"
    = stylesheet_link_tag    "wco/application", media: "all"
  %body
    = render 'wco/main_header'

    -# %nav.flex-row
    -#   %ul
    -#     %li= link_to 'ApplianceTmpl`s', appliance_tmpls_path
    -#     %li= link_to 'Appliances', appliances_path
    -#     %li= link_to 'Serverhosts', serverhosts_path
    -# %hr

    = render '/wco/alerts_notices'
    %hr

    = yield
    %hr

    %script{:src => "https://js.stripe.com/v3/"}
    :javascript
      stripe = Stripe('#{::STRIPE_PK}', { apiVersion: '2020-08-27' });

    -# = render '/wco/application/auth_widget'


