!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Models

    = javascript_include_tag "//code.jquery.com/jquery-3.3.1.min.js"

    %script{ :src => "//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" }
    = stylesheet_link_tag "//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"

    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :media => 'all'
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons"

    = stylesheet_link_tag "//cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"

    = stylesheet_link_tag "//cdn.jsdelivr.net/npm/select2@4.0.0/dist/css/select2.min.css"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/select2@4.0.0/dist/js/select2.min.js"

    = stylesheet_link_tag "//cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"

    = javascript_include_tag "wco/application"
    = stylesheet_link_tag    "wco/application", media: "all"

    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render 'wco/main_header'
    = render '/wco/alerts_notices'
    %hr

    = yield
    %hr
    = render '/wco/main_footer'
    = render 'analytics' if Rails.env.production?

    %script{:src => "https://js.stripe.com/v3/"}
    :javascript
      stripe = Stripe('#{::STRIPE_PK}', { apiVersion: '2020-08-27' });

    -# = render '/wco/application/auth_widget'


