!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Wco Models
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag "wco/application"
    -# = stylesheet_link_tag    "wco_hosting/application", media: "all"
  %body

    %h2 Wco Models
    %nav.flex-row
      %ul
        %li= link_to 'ROOT', '/'
        %li= link_to '/hosting', '/hosting'
        %li= link_to '/email', '/email'
      %ul
        -# %li= link_to 'ApplianceTmpl`s', appliance_tmpls_path
        -# %li= link_to 'Appliances', appliances_path
        %li= link_to 'Products', products_path
        -# %li= link_to 'Serverhosts', serverhosts_path
    %hr

    = render '/wco/application/alerts_notices'
    %hr

    = yield
    %hr

    -# = render '/wco/application/auth_widget'


