
.publishers--form
  = form_for publisher do |f|
    .field
      = f.label :slug
      = f.text_field :slug

    -## this is unnecessary b/c I use eval() :
    -# .field
    -#   kind?!
    -# .field
    -#   = f.label :from_gallery
    -#   = f.select :from_gallery, options_for_select( @galleries_list, selected: publisher.from_gallery ), class: 'select2'

    .field
      %label site
      = f.select :site, options_for_select( @sites_list, selected: publisher.site ), {}, class: 'select2'
    .field
      %label.d-block context_eval
      = f.text_area :context_eval, class: 'monospace'
    .field
      %label.d-block post_body_tmpl
      = f.text_area :post_body_tmpl, class: 'monospace'
    .actions
      = f.submit
