
.publishers-index.maxwidth
  %h5
    Publishers
    = link_to '[+]', wco.new_publisher_path

  %table.bordered
    %tr
      %th &nbsp;
      %th
        slug
      %th
        site
      %th
        Run
    - @publishers.each do |item|
      %tr
        %td
          .flex-row
            = button_to 'x',   wco.publisher_path(item), method: :delete, data: { confirm: 'Are you sure?' }
            = link_to '[~]',     wco.edit_publisher_path(item)
        %td
          -# = link_to item.slug, publisher_path(item)
          = item.slug
        %td
          = link_to '[~]', edit_site_path(item.site)
          -# = link_to item.site.origin, site_path(item.site)
          = item.site
        %td
          .Card
            = form_for item, url: wco.run_publisher_path( item ), method: :post do |f|
              %label props
              = f.text_field :props, class: 'w-400px'
              = f.submit 'run', data: { confirm: 'Are you sure?' }
